@media screen and (max-width: 960px) {
  .root {
    display: inline-block !important;
    position: relative;
    max-width: 100% !important;
  }

  .MuiGrid-grid-xs-6 {
    max-width: 100% !important;
  }

  .card > div {
    margin-left: 0px !important;
  }
}
